<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="layout ::htmlhead"></head>
	<body>
	<nav th:replace="layout :: menu"(menu)></nav>
		<div class="container mt-3">
		<div class="card">
			  <div class="card-body">
			  	<h3 class="card-title">Categorias de produtos</h3>
			  </div>
			</div>
			 <br/>
			<div class="card">
			  	<div class="card-body">
				<div class="button">
					<a href="form.html" th:href="@{/productCategory/new}"
					class="fa fa-plus-circle fa-5x" role="button" aria-hidden="true"></a>
					</div>
					<br/>
		<table class="table" id="productCategories" >
			<thead class="thead-light"> 
				<tr>
					<th scope="col">Nome da Categoria</th>
					<th scope="col">Status</th>		
					<th scope="col">Detalhes</th>		
				</tr>
			</thead>
			<tbody>
				<tr scope="row" th:each="oneproductCategory : ${productCategory}">
					<td th:text="${oneproductCategory.name}"></td>
					<td th:if="${oneproductCategory.status}">Ativo</td>
					<td th:if="${!oneproductCategory.status}">Inativo</td>
					<td> <a th:href="@{'productCategory/details-edit/' + ${oneproductCategory.categoryId}}" class= "btn btn-primary btn-lg"><i class="fa fa-list-alt" aria-hidden="true"></i></a></td>
				</tr>
			</tbody>
		</table>
		 </div>
			</div>
		</div>
		<div th:include="layout :: footer" id="footer">(footer)</div>
	</body>
</html>