<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="layout ::htmlhead"></head>
	<body>
		<nav th:replace="layout :: menu"(menu)></nav>
		<div class="container mt-3">
			<div class="card">
			  <div class="card-body" >
			  	<h3 class="card-title">Sistema Cyber Shop - Controle de Administrador</h3>
			  </div>
			</div>
			    <br/>
			  <div class="card">
			  	
			  		<div class="card-body" style="background-color:#DCDCDC">
			  			<div class="row"> 
								<div class="col-xl-3 col-md-6 mb-4">
						              <div class="card border-left-primary shadow h-100 py-2">
						                <div class="card-body">
						                  <div class="row no-gutters align-items-center">
						                    <div class="col mr-2">
						                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Ganhos em vendas</div>
						                      <div class="h5 mb-0 font-weight-bold text-gray-800">R$10.000,00</div>
						                  	</div>
						                  </div>
						                </div>
		            			      </div>
					  		    </div>
					  		    
					  		    <div class="col-xl-3 col-md-6 mb-4">
						              <div class="card border-left-primary shadow h-100 py-2">
						                <div class="card-body">
						                  <div class="row no-gutters align-items-center">
						                    <div class="col mr-2">
						                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Nº pedidos realizados (mensal)</div>
						                      <div class="h5 mb-0 font-weight-bold text-gray-800">200</div>
						                  	</div>
						                  </div>
						                </div>
		            			      </div>
					  		    </div>
					  		    
					  		    <div class="col-xl-3 col-md-6 mb-4">
						              <div class="card border-left-primary shadow h-100 py-2">
						                <div class="card-body">
						                  <div class="row no-gutters align-items-center">
						                    <div class="col mr-2">
						                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Nº pedidos realizados (diário)</div>
						                      <div class="h5 mb-0 font-weight-bold text-gray-800">10</div>
						                  	</div>
						                  </div>
						                </div>
		            			      </div>
					  		    </div>
					  		    
					  		    <div class="col-xl-3 col-md-6 mb-4">
						              <div class="card border-left-primary shadow h-100 py-2">
						                <div class="card-body">
						                  <div class="row no-gutters align-items-center">
						                    <div class="col mr-2">
						                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Nº pedidos realizados (diário)</div>
						                      <div class="h5 mb-0 font-weight-bold text-gray-800">10</div>
						                  	</div>
						                  </div>
						                </div>
		            			      </div>
					  		    </div>
					  	</div>
				        </div>			      
			 </div>
		</div>
		<div th:include="layout :: footer" id="footer">(footer)</div>
		<script type="text/javascript">
				$(document).ready(function(){
					$("#clients").on("click", ".js-delete", function(){
						var button = $(this);
						bootbox.confirm("Você tem certeza que deseja excluir este cliente?",function(result){
							if(result){
								$.ajax({
									url:"/client/delete/" + button.attr("data-customer-id"),
									method: "GET",
									success: function(){
										window.location.href = "/client/"
									}
								});
							}
						});
					});
				});
		</script>
	</body>
</html>